html {
    font-family: 'Spartan', sans-serif;
}

body {
    margin:0;
}
li {
    padding-right: 2px;
}
header {
    height: 100%;
    position: relative;
    
}
.image-mobiledark, .image-mobilelight {
    display:block;
    width: 100%;
}

 .image-mobile1{ 
    display:block;
    width: 100%;
 }
 .image-mobile2{ 
    display:none;
    width: 100%;
 }

 .image-mobile3{ 
    display:none;
    width: 100%;
 }
 .image-desktop1, 
 .image-desktop2, .image-desktop3 {
     display: none;

 }


.header{
    position: absolute;
    top:10%;
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: space-evenly ;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
}
.arrow{
    color: white;
    text-decoration: none;
    

    
}
.top{
    display: flex;
    

}
.menu{
    font-size: 1.5rem;
    color: white;
    line-height: 2;
}
.menu-close{
    color: grey;
    font-size : 2rem;
    line-height: 3.5;
    margin-right: 10%;
}

.menu-lien_accordeon{
    color: black;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type:none;
    display: inline-flex;
    justify-content: space-around;
    height: 15%;
    
}
.menus-liens{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.menu-lien {
    font-weight:700 ;
    line-height: 7;
    
    

}
.top-title {
    text-align: center;
    order:1;
    color: white;
    margin:0;


}

.modal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
  
  }
  .modal:target{
    opacity: 1;
    pointer-events: auto;
  } 
   .modal > div {
    max-width: 50%;
    position: relative;
    margin: 10% auto;
    padding :0.8rem;
    border-radius: 0.2rem;
    background: #fff;
  }


input[type="checkbox"] {
    display: none;
}

input:checked + .menu-lien_accordeon {
    height: 5em;
}
.container {
    display: flex;
    flex-direction: column;
}
section {
    margin: 0% 5%;
    line-height: 1.5;
}

footer {
    line-height: 1.5;
    margin-left: 5%;
    margin-top: 10%;
}
p {
    margin-bottom: 2.5rem;
    color: rgba(0,0,0,0.4);
}
.bottom-container {

    display: flex;
    text-align: center;
    margin-bottom:10%;
    margin-left: 5%;

}
a {
    text-decoration: none;
    color: black;
    font-size: 80%;
    text-transform: uppercase;
    word-spacing:0.6rem ;
    letter-spacing: 1rem;

        
}
i {
    font-size: 30px;
}

footer > h1 {
    text-transform: uppercase;
    font-size: 90%;
    word-spacing: 1rem;
    font-weight: 900;
    
}
.first-container {
    display:block;
}

.second-container {
    display:none;
}
.third-container {
    display: none;
}
.attribution {
    font-size: 0.2rem;
}

@media screen and (min-width:1440px) {
    body {    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    
    header {
        display: flex;
        width:50%;
        height: 35%;
    }
    .image-mobile1, .image-mobile2, .image-mobile3 {
        display:none;
    }
    .image-desktop1 {
        display: block;
        width: 60vw;
        clear: none;
        height: 60vh;
        grid-column: 1/2;

    }
    .image-desktop2 {
        display: none;
        width:80%;
    }
    .image-desktop3 {
        display: none;
        width:80%;
    }
    .header{
        position: absolute;
        top: 10%;
        display: inline-block;
        width: 0%;
        justify-content: space-around;
        padding-left: 10%;
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 100%;
        font-size: 1.5rem;
        color: white;
        background-color: black;
        width: 20%;
        height: 6%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 1%;
    }
    .arrow{
        color: grey;
        text-decoration: none;

        
    
        
    }
    .top{
        display: flex;
        position: absolute;
        
    
    }
    .menu{
        display: none;
        font-size: 1.5rem;
        color: white;
        line-height: 2;
    }
    .menu-close{
        display: none;
    }
    
    .menu-lien_accordeon{
        color: white;
        background-color: transparent;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type:none;
        display: inline-flex;
        justify-content: space-around;
        height: 15%;
        margin-left: 100%;
        
    }
    .menus-liens{
        display: flex;
        justify-content: space-around;
        width: 75%;
    }
    .menu-lien {
        font-weight:700 ;
        line-height: 7;
        padding-right: 40%;
        
        
    
    }
    .top-title {
        text-align: left;
        order:1;
        color: white;
        margin:0;
    
    
    }
    
    .modal {
        display: flex;
        width: 50%;
        margin-top: 3.3%;
        position: relative;
        z-index: 99999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        opacity: 1;
        pointer-events: none;
        padding-left: 17rem;
      
      }
      .modal:target{
        opacity: 0;
        pointer-events: auto;
      } 
       .modal > div {
        max-width: 50%;
        position: relative;
        margin: 10% auto;
        padding :0.8rem;
        border-radius: 0.2rem;
        background: #fff;
      }


    
    
    input[type="checkbox"] {
        display: none;
    }
    
    input:checked + .menu-lien_accordeon {
        height: 5em;
    }
    main{
        position: relative;
    }
    .container {
    margin-left: 25%;
    margin-right: 5%;
    grid-column: 2/2;
    margin-top: 5%;
    }
    section {
        margin: 0% 5%;
        line-height: 1.5;
    }
    
    footer {
        line-height: 1.5;
        margin-left: 83%;
        margin-top: 14%;
        margin-right: -20%;
        font-size: 0.8rem;
    }
    p {
        margin-bottom: 2.5rem;
        color: rgba(0,0,0,0.4);
    }
    .bottom-container {
    
        display: flex;
        text-align: center;
        margin-bottom:10%;
        margin-left: 5%;
    
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 80%;
        text-transform: uppercase;
        word-spacing:0.6rem ;
        letter-spacing: 1rem;
    
            
    }
    i {
        font-size: 30px;
    }
    
    footer > h1 {
        text-transform: uppercase;
        font-size: 90%;
        word-spacing: 1rem;
        font-weight: 900;
        
    }
    .first-container {
        display:block;
    }
    
    .second-container {
        display:none;
    }
    .third-container {
        display: none;
    }
    .attribution {
        font-size: 0.2rem;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 46%;
    }
    .image-mobilelight {
        display: block;
        width: 36vw;
        height: 41vh;
        position: absolute;
        top: 60%;
        right: 0%;
    }
    .image-mobiledark {
    /* display: block; */
    /* grid-column: 1/2; */
    /* grid-row: 1/2; */
    width: 36vw;
    position: absolute;
    top: 116%;
    height: 41vh;
    right: 128%;
    }
}