header {
    height: 100%;
    position: relative;
    
}

.image-mobile1{  
    width: 100%;
    


}

.header{
    position: absolute;
    top:0;
    display: flex;

    


}
.menu{
   font-size: 1.5rem;
    color: white;
    
    
   

    
 
}
.top-title {
    order:1;
    color: white;
    

}
/* .top{
    background-image:url('../images/mobile-image-hero-1.jpg');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    

} */
/* .modal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 70%;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
  
  }
  .modal:target{
    opacity: 1;
    pointer-events: auto;
  } */
/*   .modal > div {
    max-width: 50%;
    position: relative;
    margin: 10% auto;
    padding :0.8rem;
    border-radius: 0.2rem;
    background: #fff;
  } */

.menu-lien_accordeon{
    height: 0;
    overflow: hidden;
    transition: :all 0.25s ease-in-out;
    list-style-type:none;
    background-color:white;
}

input[type="checkbox"] {
    display: none;
}

input:checked + .menu-lien_accordeon {
    height: 5em;
}

.menu-accordeon {
list-style-type:none;
}