html {
    font-family: 'Spartan', sans-serif;
}

body {
    margin:0;
}
li {
    padding-right: 2px;
}
header {
    height: 100%;
    position: relative;
    
}
.image-mobile1{ 
    /* position: relative; */
    width: 100%;
    
    

}

.header{
    position: absolute;
    top:10%;
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: space-evenly ;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
}
.arrow{
    color: white;
    text-decoration: none;
    

    
}
.top{
    display: flex;
    

}
.menu{
    font-size: 1.5rem;
    color: white;
    line-height: 2;
}
.menu-close{
    color: grey;
    font-size : 2rem;
    line-height: 3.5;
    margin-right: 10%;
}

.menu-lien_accordeon{
    color: black;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type:none;
    display: inline-flex;
    justify-content: space-around;
    height: 15%;
    
}
.menus-liens{
    display: flex;
    justify-content: space-around;
    width: 75%;
}
.menu-lien {
    font-weight:700 ;
    line-height: 7;
    
    

}
.top-title {
    text-align: center;
    order:1;
    color: white;
    margin:0;


}

.modal {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    pointer-events: none;
  
  }
  .modal:target{
    opacity: 1;
    pointer-events: auto;
  } 
   .modal > div {
    max-width: 50%;
    position: relative;
    margin: 10% auto;
    padding :0.8rem;
    border-radius: 0.2rem;
    background: #fff;
  }


input[type="checkbox"] {
    display: none;
}

input:checked + .menu-lien_accordeon {
    height: 5em;
}
.container {
    display: flex;
    flex-direction: column;
}
section, footer {
    margin: 20% 5%;
    line-height: 1.5;
}
p {
    margin-bottom: 2.5rem;
    color: rgba(0,0,0,0.4);
}
.bottom-container {

    display: flex;
    text-align: center;

}
a {
    text-decoration: none;
    color: black;
    font-size: 80%;
    text-transform: uppercase;
    word-spacing:0.6rem ;
    letter-spacing: 1rem;

        
}
i {
    font-size: 30px;
}
.first-container {
    display:block;
}

.second-container {
    display:none;
}
.third-container {
    display: none;
}
.attribution {
    font-size: 0.2rem;
}